* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/loadscreen.jpg);
    background-size: cover;
}

/* ===== HEADER ===== */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background: rgba(15, 15, 15, 0.95);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        z-index: 1000;
        border-bottom: 1px solid #222;
    }

    header h1 {
        font-size: 22px;
        letter-spacing: 1px;
        color: #00b4ff;
    }

    .socials a {
        margin-left: 15px;
        text-decoration: none;
        color: #fff;
        padding: 8px 14px;
        border: 1px solid #333;
        border-radius: 6px;
        transition: 0.3s;
        font-size: 14px;
    }
    @media(max-width: 600px){
        .hide{
               display: none;
        }
    }

    .socials a:hover {
        background: #00b4ff;
        color: #000;
    }

    .discord {
        background: #5865F2;
        border: none;
    }

    .discord:hover {
        background: #4752c4;
        color: #fff;
    }
    /*==========================*/






    
        /* ===== NAV MENU ===== */
.main-nav {
    margin-top: 70px;
    background: #111;
    border-bottom: 1px solid #222;
    position: relative;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-links li a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links li a:hover {
    background: #00b4ff;
    color: #000;
}

/* hamburger tlačítko */
.nav-toggle {
    display: none;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    background: #111;
    font-size: 18px;
    color: #00b4ff;

    position: relative;
    z-index: 1100; /* ⬅️ MUSÍ BÝT VÍC NEŽ HEADER (1000) */
}

.ikon-menu{
    flex-wrap: wrap;
}

/*========================*/





/* ===== RESPONSIVE <= 500px ===== */
@media (max-width: 500px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}
/*=========================*/






/* ===== MAIN ===== */
main {
    padding: 60px 30px;
    max-width: 1100px;
    margin: 70px auto;
}

section {
    margin-bottom: 60px;
}

.hero h2 {
    font-size: 34px;
    color: #00b4ff;
    margin-bottom: 15px;
}

.hero p {
    color: #ccc;
    line-height: 1.6;
}
/*=========================*/





/* ===== VIP BOX ===== */
.vip-box {
    background: #111827;
    border-left: 5px solid #00b4ff;
    padding: 25px;
    border-radius: 8px;
    color: #fff;
}

.vip-box ul {
    margin-top: 15px;
    padding-left: 20px;
}

.vip-box li {
    margin-bottom: 10px;
}

.vip-box h3{
    color: #00b4ff;
}

.highlight {
    border-left-color: #7cff00;
}

/* ===== INFO ===== */
.info h3 {
    color: #7dd3fc;
    margin-bottom: 10px;
    text-align: center;
}

.info p {
    color: #ccc;
    line-height: 1.6;
}
/*================================*/







/* ===== FUTURE ===== */
.future-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.future-box {
    background: #0b1220;
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.future-box:hover {
    transform: translateY(-5px);
    background: #0f1b30;
}

.future-box h4 {
    color: #00b4ff;
    margin-bottom: 10px;
}

.future-box p{
    color: #fff;
}
/*==============================*/







/* ===== RESPONSIVE ===== */
@media (max-width: 550px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }

    .hide {
        display: none;
    }
}














/* ===== FOOTER ===== */
    footer {
        text-align: center;
        padding: 30px;
        border-top: 1px solid #222;
        color: #666;
        margin-top: 80px;
    }


    .link{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .link a{
        text-decoration: none;
        color: #fff;
        border: 1px solid #ffffff36;
        padding: 8px 12px;
        border-radius: 5px;
    }

    .link a:hover{
        background-color: #00b4ff;
        color: #000;
    }

    @media(min-width: 550px){
        .link a{
            display: none;
            
        }
    }